.carousel {
  
  width: 100%;
  height: 70vh;
  z-index: 0;
  /* padding-top: 3.5rem; */
}
.carouselM {
  height: 60vh;
}
@media (min-width: 679px) {
  .carouselM {
    display: none;
  }
}
@media (max-width: 678px) {
  .carousel {
    display: none;
  }
  .slides {
    height: 60vh !important;
  }
  .slides-inner {
    height: 60vh !important;
  }
  .slides-inner h2 {
    font-size: 1.8rem !important;
    font-weight: 500 !important;
  }
  .slides-inner p {
    font-size: 1.2rem;
    margin-top: 0.3rem !important;
  }
}
.mySwiper {
  z-index: 0;
}
.slides {
  width: 100%;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.s1 {
  background-image: url("../assets/Slider1.png");
}
.s2 {
  background-image: url("../assets/slider2.png");
}
.s3 {
  background-image: url("../assets/slider3.png");
}

.ms1 {
  background-image: url("../assets/mob-slider1.png");
  background-size: 100% cover;
  background-position: center 80%;
}
.ms2 {
  background-image: url("../assets/mob-slider2.png");
  background-size: 100% cover;
  background-position: center 40%;
}
.ms3 {
  background-image: url("../assets/mob-slider3.png");
  background-size: 100% cover;
  background-position: center 70%;
}

.slides-inner {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 70vh;
  padding: 0 0.75rem;
  color: var(--col1);
  font-size: 1.75rem;
}
.m-slides-text{
  max-width: 100%;
  padding: .75rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:var(--col1);
}
.m-slides-text>h1{
  width: fit-content;
  margin: auto;
  font-size: 1.5rem !important;
}
.m-slides-text>p{
  width: fit-content;
  margin: .35rem auto;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;

}
 .slides-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: auto 5%;
}


.slides-text p {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0.85rem 0;
  animation: anim1 2s ease-in 0.1s 1;
}
.slides-text > button,.m-slides-text > button {
  border: 1px solid rgba(155, 155, 155, 0.3);
  padding: 0.2rem 0.6rem;
  width: max-content;
  background-color: rgba(155, 155, 155, 0.3);
  text-transform: capitalize;
  font-size: 1.2rem;
  box-shadow: 1px 1px 15px 3px rgba(68, 62, 62, 0.3);
}
.slides-text > button:hover{
  background-color: rgba(97, 93, 93, 0.3);
}

@keyframes anim1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim2 {
  0% {
    transform: translateY(-50vh);
    
  }
  10%,
  55% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-30vh);
    
  }
  85% {
    transform: translateY(-20vh);
    
  }
  100% {
    transform: translateY(0);
    
  }
}
