.explore{
    padding: 5% 3%;
    
    text-align: center;
    color: white;
    background-color: var(--col3);
}

.explore a{
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}

.explore a:hover{
    color: beige;
}