.header {
  border-bottom: 1px solid var(--col2);
  z-index: 5;
  box-shadow: 0px 0px 10px 1px var(--col2);
  background-color: var(--col1);
  position: fixed;
  top: 0;
  width: 100%;
}
.navlists > div > a {
  display: flex;
  position: relative;
  font-weight: 500 !important;
  padding: 0 0.8%;
}
.navlists > div > a:hover {
  color: var(--col4);
}
.navlists > div > a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--col4);
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  transition: all 0.3s ease;
}
.navlists > div > a:hover::after {
  width: 100%;
}
