.header {
  border-bottom: 1px solid var(--col2);
  z-index: 5;
  box-shadow: 0px 0px 10px 1px var(--col2);
  background-color: var(--col1);
  position: fixed;
  top: 0;
  width: 100%;
}
.navlists > div > a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-weight: 500 !important;
  padding: 0 0.8%;
}
.info {
  border: 1px solid var(--col3);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.info:hover {
  background-color: var(--col3);
}
.info:hover .fa-info{
  color:#fff;
}

.navlists > div {
  position: relative;
  margin-left: .4rem;
  margin-right: .4rem;
}
.navlists > div:hover {
  color: var(--col4);
}
.contact-btn {
  border: 1px solid var(--col3);
  border-radius: 5px;
  padding: 0.3rem 1.25rem;
  background-color: var(--col3);
  color: #fff;
  cursor: pointer;
}
.contact-btn:hover {
  color: #fff !important;
  background-color: var(--col4);
  border-color: var(--col4);
}
.below .fa-solid {
  display: none;
}
.below> .fa-solid.fa-chevron-down{
  display:grid !important;
}
.below .fa-regular {
  display: flex;
}

.below:hover .fa-solid,
.active .fa-solid {
  display: flex;
}
.below:hover .fa-regular,
.active .fa-regular {
  display: none;
}
.active {
  color:var(--col3);
}

.below::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--col4);
  position: absolute;
  bottom: -0.4rem;
  right: 0;
  transition: all 0.3s ease;
}
.below:hover::after{
  width: 100%;
}
.active::after{
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--col4);
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  transition: all 0.3s ease;
}

@media(max-width:768px){
  .header{
    display: none;
  }
  .headerMob{
    display: flex;
  }
}
@media(min-width:769px){
  .header{
    display: flex;
  }
  .headerMob{
    display: none;
  }
}