@media (min-width: 769px) {
  .sidebar {
    display: none;
  }
}
.sidebar {
  z-index: 1;
}

.sidelist {
  position: fixed;
  width: 100%;
  top: 3.7rem;
  bottom: 0;
  background-color: var(--col1);
  border-top: 1px solid #aaa;
  transition: all 0.3s ease;
  z-index: inherit;
}
.sidelist > div:hover {
  cursor: pointer;
}
.sidelist p {
  color: var(--col3);
}
.sidelist-hide {
  transform: translateX(-100%);
}
.sidebottom {
  position: fixed;
  transition: all 0.05s ease;
  z-index: 1;
  /* background-color: rgba(255, 255, 255, 0.1); */
}
.hide {
  display: none;
}
