* {
  --col5: #1b1525;
  --col1: #fff;
  --col2: #aaa;
  --col3: #4560af;
  --col4: #344484;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100%;
  position: relative;
}
.fade-enter,
.fade-exit-done {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.fade-enter-done,
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.fa-bars.fa-solid::before {
  font-size: 2rem;
}
.headerMob {
  z-index: 2;
  position: fixed;
  top: 0;
  background-color: var(--col1);
  z-index: 1;
}


/* ---> dropdown */
.dropdown {
  box-shadow: 1px 1px 10px 1px var(--col2);
}


h1{
  font-size: 2rem !important;
  font-weight: 600 !important;

}

h5{
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}

h3{
  font-size: 1.8rem !important;
  font-weight: 550 !important;
}